.footer {
  background:black;
  padding-top: 50px;
  padding-bottom: 15px;
  
}

.footer__logo i {
  color: #ffffff;
  font-weight: 400;
}

.footer__logo span {
  color: #ff0000;
  font-weight: 900;
  
}
/*text lorem*/
.footer__logo-content {
  color: white;
  font-weight: bold;
  margin-top: 15px;
  line-height: 30px;
}

.quick__link {
  border: none !important;
  background: transparent !important;
  font-weight: bold;
  margin-left: 165px;
 
}
/*lien*/
.quick__link a {
  color:white;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.quick__link a:hover {
  color: red;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration:underline 3px;
}

.footer__link-title {
  color: #ff0000;
  font-weight: bolder;
  font-size: 25px;
}
.logo-image{
  width: 55px;
  height:55px
}
.office__info {
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-weight: 300;
  color: white;
  line-height: normal;
  
}
#p{
  color: white;
  font-family: serif;
}
.footer__bottom {
  border-top: 2px solid rgb(255, 0, 0);

}


